:root{
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Epilogue;
    src: url(Epilogue/Epilogue-VariableFont_wght.ttf);
}

button{
    font-family: 'Epilogue';
    background-color: var(--Almost-White);
    font-size: 1em;
    color: var(--Medium-Gray);
    border: none;
    cursor: pointer;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 16px 24px;
    
    .hamburger-menu{
        cursor: pointer;
        /* display: none; */
    }
    
    & nav{
        display:none;
        color: var(--Medium-Gray);
        
        & .back{
            background-color: var(--Medium-Gray);
            opacity: 0.75;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 780px;
        }

        & .front{
            background-color: var(--Almost-White);
            opacity: 1;
            width: 240px;
            position: absolute;
            right: 0;
            top: 0;
            height: 780px;
            padding: 20px;
        }

        & .close-img-container{
            text-align:   right;
            cursor: pointer;
        }
        
        & li{
            list-style: none;
            cursor: pointer;
            margin-bottom: 26px;
        }
        
        & .features-ul , .company-ul{
            display: none;
            margin-left: 28px;
        }
        
        & .submenu-btn{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 24px 0;
            width: 110px;
            height: 26px;
        }
        
        & .btns-container{
            /* border: 1px solid red; */
            position: absolute;
            bottom: 124px;
        }

        & .login-btn{
            display: block;
            margin: 0 auto 16px;
        }
        
        & .register-btn{
            border: 1px solid var(--Almost-Black);
            width: 195px;
            height: 42px;
            border-radius: 14px;
        }


    }
}

body{
    font-family: 'Epilogue';
    background-color: var(--Almost-White);
    color: var(--Almost-Black);
    font-size: 18px;
}


main{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column-reverse;

    & .hero-img{
        width: 100%;
        margin-bottom: 48px;
        /* display: none; */
    }

    & h2{
        text-align: center;
        font-size: 36px;
        margin-bottom: 16px;
    }

    & p {
        text-align: center;
        line-height: 26px;
        color: var(--Medium-Gray);
        margin: 0 16px 24px;
        font-size: 1rem;
    }

    & button {
        background-color: var(--Almost-Black);
        color: var(--Almost-White);
        width: 136px;
        height: 48px;
        border-radius: 15px;
        display: block;
        margin: 0 auto;
        margin-bottom: 52px;
        &:hover{
            background-color: var(--Almost-White);
            color:var(--Almost-Black);
            border: 1px solid var(--Almost-Black);
        }
    }

    & .logos-container{
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
        margin-bottom: 96px;
    }

    & .databiz{
        width: 81px;
    }
    & .audio{
        width: 52px;
    }
    & .meet{
        width: 64px;
    }
    & .maker{
        width: 59px;
    }

}

@media (min-width: 768px ){
    header{
        & .hamburger-menu{
            display: none;
        }
        & nav {
            display: block;
            width: 100%;
            height: 100%;
            margin-left: 24px;


            & .back{
                display: none;
            }
    
            & .front{
                border:1px sold red;
                position: static;
                width: 100%;
                height: 100%;
                display: flex;
                padding: 0;
                justify-content: space-between;
            }

            & ul{
                display: flex;
                align-items: center;
                width: 378px;
                justify-content: space-between;
            }
            & li{
                margin-bottom: 0;
            }

            & .submenu-btn{
                margin:0;
            }

            & .btns-container{
                display: flex;
                position: static;
                width: 182px;
            }

            & .login-btn{
                margin: 0;
            }

            & .register-btn{
                width: 104px;

            }

            & .close-img-container{
                display: none;
            }
        }
        

    }
    main{
        flex-direction: row;
        margin-top: 150px;

        & h2 {
            font-size: 42px;
        }

        & picture {
            width: 80%;
            
        }


    }
}

@media (min-width: 1024px){
    picture {
        width: 50%;
    }
}
